@import "../../mixin/main.scss";
.team-descirption {
  width: 100%;
  padding-top: 3%;
  .title-style {
    width: 90px;
    margin: 0 auto;
    font-size: $fontSize-l;
    font-weight: bold;
    .left-style {
      text-align: left;
    }
    .right-style {
      text-align: right;
    }
    .title-color {
      color: $color-main;
    }
  }
  .descirption {
    width: 80%;
    margin: 10px auto;
    display: flex;
    @include mobile {
      & {
        width: 90%;
      }
    }
    .team-content {
      width: 70%;
      @include mobile {
        & {
          width: 70%;
        }
      }
      @include min-mobile {
        & {
          width: 60%;
        }
      }
      p {
        line-height: 2;
        font-size: $fontSize-s;
      }
    }
    .team-title {
      width: 25%;
      display: flex;
      align-items: center;
      @include mobile {
        & {
          width: 30%;
        }
      }
      @include min-mobile {
        & {
          width: 40%;
        }
      }
    }
  }
  .member {
    width: 80%;
    margin: 10px auto;
    @include mobile {
      & {
        width: 90%;
      }
    }
    .member-box {
      width: 25%;
      margin: 20px 4%;
      display: inline-block;
      @include pad {
        & {
          width: 45%;
          margin: 20px 2.5%;
        }
      }
      @include mobile {
        & {
          width: 90%;
          margin: 20px 5%;
        }
      }
      .member-pic {
        width: 100%;
        display: block;
        margin: auto;
      }
      .member-content {
        height: 60px;
        padding-top: 0.5rem;
        background-color: $color-white;
        .member-name {
          font-size: $fontSize-m;
          font-weight: 600;
          letter-spacing: $letterSpacing-l;
          text-align: center;
          margin-bottom: 0.25rem;
        }
        .work-item {
          color: $color-white;
          font-size: $fontSize-xs;
          padding: 5px 15px;
          margin: 10px 7.5px;
          border-radius: 20px;
          background-color: $color-normal;
          letter-spacing: $letterSpacing-s;
        }
      }
    }
    .middle {
      vertical-align: top;
      margin-top: 5rem;
      @include mobile {
        & {
          margin-top: 0;
        }
      }
    }
    .shadow {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
  }
}
