@import "../../mixin/main.scss";
.delivery-content {
  width: 80%;
  margin: 20px 10%;
  display: flex;
  font-size: $fontSize-m;
  line-height: 1.5;
  @include pad {
    & {
      display: inline-block;
    }
  }
  .delivery-way {
    width: 44%;
    min-height: 400px;
    padding: 2%;
    margin-right: 2%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    input[type="radio"] {
      margin-right: 5px;
    }
    @include pad {
      & {
        width: 96%;
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
    .delivery-tit {
      padding: 5px 0;
      margin: 5px 0;
      text-align: center;
      font-size: $fontSize-m;
      letter-spacing: $letterSpacing-m;
      font-weight: bold;
      border-bottom: $borderWidth solid $color-gray;
      background-color: $color-gray;
    }
    .sum {
      font-size: $fontSize-l;
      font-weight: bold;
      color: $color-main;
      position: absolute;
      right: 2%;
      bottom: 2%;
    }
  }
  .delivery-list {
    width: 44%;
    min-height: 400px;
    padding: 2%;
    margin-left: 2%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    @include pad {
      & {
        width: 96%;
        margin-left: 0;
      }
    }
    .delivery-tit {
      padding: 5px 0;
      margin: 5px 0;
      text-align: center;
      font-size: $fontSize-m;
      letter-spacing: $letterSpacing-m;
      font-weight: bold;
      border-bottom: $borderWidth solid $color-gray;
      background-color: $color-gray;
    }
    input[type="text"] {
      width: 100%;
      margin: 10px 5px 0 0;
      font-size: $fontSize-m;
      outline-color: $color-main;
    }
    select {
      width: 100%;
      margin: 10px 5px 0 0;
      font-size: $fontSize-m;
      outline-color: $color-main;
      background-color: $color-white;
    }
    textarea {
      width: 100%;
      min-height: 150px;
      margin: 10px 5px 0 0;
      font-size: $fontSize-m;
      outline-color: $color-main;
      resize: vertical;
    }
  }
}
