@import "../../mixin/main.scss";
.previous {
  width: 100px;
  height: 40px;
  margin: 20px auto;
  background-color: $color-normal;
  color: $color-white;
  border: 0;
  display: block;
  font-size: $fontSize-m;
  text-align: center;
  line-height: 40px;
  transition: $transition;
  letter-spacing: $letterSpacing-m;
  position: fixed;
  left: 10px;
  bottom: 50px;
  outline: 0;
  &:hover {
    cursor: pointer;
    color: $color-main;
  }
}
