@import "../../mixin/main.scss";
.detection-header {
  width: 70%;
  height: 160px;
  padding: 20px 15%;
  background-color: #efefef;
  text-align: center;
  //   display: flex;
  img {
    height: 160px;
    width: auto;
    &:hover {
      cursor: pointer;
    }
  }
}
