@import "../../mixin/main.scss";
.detail-content {
  width: 100%;
  padding: 50px 0;
  a {
<<<<<<< HEAD
    margin: 10px 10%;
    color: $color-black;
    font-size: $fontSize-m;
=======
    margin: 15px 10%;
    color: $color-black;
    font-size: $fontSize-m;
    font-weight: bold;
>>>>>>> 6dbe5677df55a7a90ab42358ab8b8db3c527049c
    &:hover {
      cursor: pointer;
    }
    @include laptop {
      & {
        margin: 10px 7.5%;
      }
    }
  }
  .detail {
    width: 80%;
    margin: 5px auto;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    @include laptop {
      & {
        width: 85%;
      }
    }
<<<<<<< HEAD
=======
    @include pad {
      & {
        display: block;
      }
    }
>>>>>>> 6dbe5677df55a7a90ab42358ab8b8db3c527049c
    .detail-img {
      width: 50%;
      @include pad {
        & {
<<<<<<< HEAD
          margin: 10px 7.5%;
=======
          width: 100%;
>>>>>>> 6dbe5677df55a7a90ab42358ab8b8db3c527049c
        }
      }
      img {
        width: 80%;
        margin: 10%;
<<<<<<< HEAD
=======
        @include pad {
          & {
            width: 60%;
            margin: 20px 20%;
          }
        }
>>>>>>> 6dbe5677df55a7a90ab42358ab8b8db3c527049c
      }
    }
    .detail-text {
      width: 40%;
      padding: 5%;
      background-color: $color-gray;
      font-size: $fontSize-m;
      line-height: 2;
<<<<<<< HEAD
      .name {
        font-size: $fontSize-l;
        font-weight: bold;
=======
      @include pad {
        & {
          width: 80%;
          padding: 20px 10%;
          line-height: 1.5;
        }
      }
      .name {
        font-size: $fontSize-l;
        font-weight: bold;
        @include mobile {
          & {
            font-size: $fontSize-l * 0.85;
          }
        }
        @include min-mobile {
          & {
            font-size: $fontSize-m;
          }
        }
>>>>>>> 6dbe5677df55a7a90ab42358ab8b8db3c527049c
      }
      .new-price {
        font-size: $fontSize-l;
        font-weight: bold;
        color: $color-main;
        .price {
          font-size: $fontSize-m;
          font-weight: normal;
          color: $color-black;
          text-decoration: line-through;
        }
      }
      .favorite {
        font-size: $fontSize-l;
        color: $color-main;
        &:hover {
          cursor: pointer;
        }
      }
      button {
<<<<<<< HEAD
        width: 160px;
=======
        width: 155px;
>>>>>>> 6dbe5677df55a7a90ab42358ab8b8db3c527049c
        height: 40px;
        margin: 0 15px;
        background-color: $color-normal;
        color: $color-white;
        text-align: center;
        line-height: 40px;
        transition: $transition;
        letter-spacing: $letterSpacing-m;
        font-size: $fontSize-m;
        outline: 0;
        &:hover {
          cursor: pointer;
          color: $color-main;
          font-size: $fontSize-m;
        }
        .addCart {
          margin-right: 5px;
        }
      }
    }
  }
}
