@import "../../mixin/main.scss";
.contact {
  width: 100%;
  .contact-bar {
    width: 100%;
    padding: 20px 0;
    background-color: $color-gray;
    display: flex;
    align-items: center;
    font-size: $fontSize-m;
    font-weight: bold;
    @include pad {
      & {
        display: inline-block;
      }
    }
    .rightBar {
      border-right: 3px solid $color-main;
      @include pad {
        & {
          border-right: none;
        }
      }
    }
    .contact-box {
      display: inline-block;
      width: 33%;
      @include pad {
        & {
          width: 100%;
        }
      }
      .contact-msg {
        text-align: center;
        padding: 1rem;
        word-break: break-all;
        .contact-icon {
          font-size: $fontSize-l;
          padding-bottom: 1rem;
        }
      }
    }
  }
  .contact-body {
    padding: 3rem 0;
    display: flex;
    .contact-bodyPic {
      width: 30%;
      padding: 0 5%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      @include pad {
        display: none;
      }
    }
    .contact-bodyBox {
      width: 60%;
      @include pad {
        width: 80%;
        margin: 0 auto;
      }
      @include mobile {
        width: 90%;
      }
      @include min-mobile {
        width: 95%;
      }
      .input-style {
        width: 80%;
        margin: 15px 5%;
        display: flex;
        @include mobile {
          width: 90%;
          margin: 15px 5%;
        }
        .letter {
          width: 25%;
          height: 30px;
          line-height: 30px;
          font-size: $fontSize-m;
          font-weight: bold;
          letter-spacing: $letterSpacing-l;
          text-align: left;
          @include mobile {
            width: 30%;
          }
        }
        .input {
          width: 75%;
          //   height: 30px;
          font-size: $fontSize-m;
          background-color: $color-white;
          &:focus {
            outline-color: $color-main;
          }
          @include mobile {
            width: 70%;
          }
        }
        .textarea {
          min-height: 180px;
          resize: vertical;
        }
      }
      .summit-btn {
        button {
          width: 100px;
          height: 40px;
          margin: 20px auto;
          background-color: $color-normal;
          color: $color-white;
          display: block;
          text-align: center;
          line-height: 40px;
          transition: $transition;
          letter-spacing: $letterSpacing-m;
          font-size: $fontSize-m;
          &:hover {
            cursor: pointer;
            color: $color-main;
          }
        }
      }
    }
  }
}
