@import "../../mixin/main.scss";
.Header {
  width: 100%;
  background-color: $color-black;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 20;
  .bar {
    display: none;
    @include pad {
      display: block;
      z-index: 35;
    }
    .barIcon {
      width: 40px;
      color: $color-white;
      font-size: $fontSize-l * 0.9;
      margin: 0 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .logo {
    width: 13%;
    border-bottom: none;
    margin: 0 1%;
    z-index: 25;
    &:hover {
      border-bottom: none;
    }
    @include pad {
      width: 50%;
    }
    img {
      width: auto;
      height: 40px;
      margin: 7.5px auto;
    }
  }
  .nav {
    width: 85%;
    height: 60px;
    transition: $transition;
    @include pad {
      & {
        width: 300px;
        height: 90vh;
        padding-top: 10vh;
        background-color: $color-black;
        position: fixed;
        top: 0;
        border-right: 3px solid $color-black;
        z-index: 30;
      }
    }
    a {
      width: 22.5%;
      height: 57px;
      color: $color-white;
      text-align: center;
      line-height: 57px;
      font-size: $fontSize-m;
      font-weight: bold;
      letter-spacing: $letterSpacing-m;
      border-bottom: 3px solid $color-black;
      transition: $transition;
      display: inline-block;
      &:hover {
        color: $color-main;
        border-bottom: 3px solid $color-main;
      }
      @include pc {
        & {
          letter-spacing: $letterSpacing-s;
        }
      }
      @include pad {
        & {
          width: 90%;
          padding-left: 10%;
          text-align: left;
          border-right: 3px solid $color-black;
          letter-spacing: $letterSpacing-m;
          border-bottom: none;
          &:hover {
            color: $color-main;
            border-right: 3px solid $color-main;
            border-bottom: none;
          }
        }
      }
    }
    .headerIcons {
      width: 10%;
      text-align: right;
      display: inline-block;
      @include pad {
        width: 100%;
        text-align: center;
        // display: contents;
      }
      .headerIcon {
        margin: 0 5px;
        color: $color-white;
        font-size: $fontSize-m;
        border-bottom: none;
        border-right: none;
        &:hover {
          color: $color-white;
        }
        @include pc {
          margin: 0 2px;
        }
        @include laptop {
          margin: 0 2.5px;
        }
        @include pad {
          width: 33%;
          margin: 0;
          margin-top: 20px;
          padding: 0;
          text-align: center;
          font-size: $fontSize-l * 0.9;
        }
      }
    }
  }
}
