@import "../../mixin/main.scss";
.Header {
  width: 100%;
  background-color: $color-black;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 20;
  .bar {
    width: 40px;
    display: none;
    z-index: 30;
    color: $color-white;
    font-size: $fontSize-l * 0.9;
    margin: 0 20px;
    &:hover {
      cursor: pointer;
    }
    @include pad {
      display: block;
    }
  }
  .logo {
    width: 13%;
    border-bottom: none;
    margin: 0 1%;
    z-index: 30;
    &:hover {
      border-bottom: none;
    }
    @include pad {
      width: 50%;
    }
    img {
      width: auto;
      height: 45px;
      margin: 7.5px auto;
    }
  }
  .nav {
    width: 85%;
    height: 60px;
    transition: $transition;
    @include pad {
      & {
        width: 300px;
        height: 90vh;
        padding-top: 10vh;
        background-color: $color-black;
        position: fixed;
        top: 0;
        border-right: 3px solid $color-black;
      }
    }
    a {
      width: 22%;
      height: 57px;
      color: $color-white;
      text-align: center;
      line-height: 57px;
      font-size: $fontSize-m;
      font-weight: bold;
      letter-spacing: $letterSpacing-m;
      border-bottom: 3px solid $color-black;
      transition: $transition;
      display: inline-block;
      &:hover {
        color: $color-main;
        border-bottom: 3px solid $color-main;
      }
      @include pad {
        & {
          width: 95%;
          padding-left: 5%;
          text-align: left;
          border-right: 3px solid $color-black;
          border-bottom: none;
          &:hover {
            color: $color-main;
            border-right: 3px solid $color-main;
            border-bottom: none;
          }
        }
      }
    }
    .headerIcons {
      width: 12%;
      text-align: right;
      display: inline-block;
      @include pad {
        width: 100%;
        text-align: center;
        // display: contents;
      }
      .headerIcon {
        margin: 0 5px;
        color: $color-white;
        font-size: $fontSize-m;
        border-bottom: none;
        border-right: none;
        &:hover {
          color: $color-white;
        }
        @include pad {
          width: 33%;
          margin: 0;
          margin-top: 20px;
          padding: 0;
          text-align: center;
          font-size: $fontSize-l * 0.9;
        }
      }
    }
  }
}
