@import "../../mixin/main.scss";
.Member {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include pad {
    overflow-x: scroll;
    white-space: nowrap;
    // text-overflow : ellipsis;
  }
  .MemberData {
    width: 95%;
    margin: 0 auto;
    border: 2px solid $color-black;
    border-collapse: collapse;
    word-break: break-all;
    td,
    th {
      // width: 110px;
      border: 2px solid $color-black;
      .block {
        width: 80px;
        height: 30px;
        margin: 12px auto;
        background-color: $color-normal;
        color: $color-white;
        display: block;
        text-align: center;
        line-height: 30px;
        transition: $transition;
        letter-spacing: $letterSpacing-m;
        font-size: $fontSize-m;
        &:hover {
          cursor: pointer;
          color: $color-main;
        }
        @include pad{
            width: 60px;
        }
      }

    }
  }
}
